<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
    <title>Time</title>
</head>
<body>
    <div class="topbar">
        <h1 class="header">Time Display</h1>
    </div>
    <div class="main">
        <div class="container">
            <h1 class="text">
                Today's date is {{date}}!
            </h1>
        </div>
        <div class="container">
            <h1 class="text">
                The time is {{time}}!
            </h1>
        </div>
        <div class="container">
            <h1 class="text">
                You're seeing {{timezone}}
            </h1>
        </div>
    </div>
</body>
</html>